h2{
      margin: 0 auto;
    max-width: 340px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    border:5px solid #ff00;
    border-radius: 5px;
    box-shadow: 0 4px 8px orange;
    text-align: center;
     font-family: cursive;  
     background-color: rgb(20, 26, 26);
     color: orangered;
   
}